openapi: 3.2.0
info:
  title: ATCO Electric Hosting Capacity Feature Service API
  version: '12'
  summary: DER hosting capacity for ATCO Electric's Alberta distribution system, published as a public, anonymously queryable Esri ArcGIS REST feature service.
  description: 'ATCO Electric publishes distributed energy resource (DER) hosting capacity for its Alberta distribution system as an Esri ArcGIS Online hosted feature service. A single polyline feature layer, "Hosting Capacity (KW)" (layer id 0), carries one feature per feeder segment with the substation, circuit, phase and the DER capacity in kW that the segment can host. An anonymous count query returned 880,623 features and 135 distinct substation names on 2026-07-27.


    This OpenAPI document was GENERATED by API Evangelist from the service''s own self-describing ArcGIS REST descriptors (harvested verbatim to openapi/atco-electric-hosting-capacity-featureserver.esri.json and openapi/atco-electric-hosting-capacity-layer-0.esri.json) plus live, anonymous probes of the running service on 2026-07-27. ATCO publishes no OpenAPI of its own and no API documentation page; the parameter set below is the subset of the Esri ArcGIS REST Feature Service query specification that this service actually advertises (capabilities "Query") and that was exercised successfully against the live endpoint. Nothing here is invented: every path, parameter and field is present in the harvested descriptor or was confirmed by a live request.


    Access is completely ungated: no API key, no token, no signup, no referer check and no licence click-through. `Access-Control-Allow-Origin: *` is returned, so the service is directly callable from a browser. maxRecordCount is 1000, so paginate with `resultOffset` and `resultRecordCount` and watch `exceededTransferLimit` in the response.


    Note on error semantics: ArcGIS REST returns application errors with HTTP status 200 and an `{"error": {...}}` body rather than a 4xx status. See errors/atco-problem-types.yml.'
  contact:
    name: ATCO Electric
    url: https://electric.atco.com/en-ca/about-us/contact.html
  x-generated-by: API Evangelist enrichment pipeline
  x-generated: '2026-07-27'
  x-method: generated
  x-source:
  - https://services7.arcgis.com/cw2emabghNLkoYlB/arcgis/rest/services/AGO_HostingCapacity/FeatureServer?f=json
  - https://services7.arcgis.com/cw2emabghNLkoYlB/arcgis/rest/services/AGO_HostingCapacity/FeatureServer/0?f=json
servers:
- url: https://services7.arcgis.com/cw2emabghNLkoYlB/arcgis/rest/services/AGO_HostingCapacity/FeatureServer
  description: ATCO Electric AGO_HostingCapacity feature service (ArcGIS Online tenant cw2emabghNLkoYlB, org urlKey "ATCO")
security: []
tags:
- name: Service
  description: Feature service and feature layer metadata
paths:
  /:
    get:
      tags:
      - Service
      operationId: getFeatureServiceInfo
      summary: Get feature service metadata
      description: Returns the self-describing FeatureServer descriptor — currentVersion, serviceDescription, capabilities, maxRecordCount, spatial reference, full extent and the layer list.
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature service descriptor, or an ArcGIS error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureServiceInfo'
              examples:
                serviceInfo:
                  summary: AGO Hosting Capacity service descriptor (truncated)
                  value:
                    currentVersion: 12
                    serviceItemId: 7b4d2b3dcecb4a509f34cbfc3587ff3e
                    serviceDescription: AGO Hosting Capacity
                    description: CYME Hosting Capacity Map
                    capabilities: Query
                    maxRecordCount: 1000
                    layers:
                    - id: 0
                      name: Hosting Capacity (KW)
                      type: Feature Layer
                      geometryType: esriGeometryPolyline
  /0:
    get:
      tags:
      - Service
      operationId: getHostingCapacityLayerInfo
      summary: Get hosting capacity feature layer metadata
      description: Returns the layer 0 descriptor — field definitions, object id field, geometry type, extent, drawing info, advanced query capabilities and record-count limits.
      parameters:
      - $ref: '#/components/parameters/f'
      responses:
        '200':
          description: Feature layer descriptor, or an ArcGIS error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureLayerInfo'
components:
  schemas:
    FeatureServiceInfo:
      type: object
      description: ArcGIS REST FeatureServer descriptor. Harvested verbatim in openapi/atco-electric-hosting-capacity-featureserver.esri.json.
      properties:
        currentVersion:
          type: number
        serviceItemId:
          type: string
        serviceDescription:
          type: string
        description:
          type: string
        capabilities:
          type: string
          description: Comma-separated capability list. This service advertises "Query" only — it is read-only.
        maxRecordCount:
          type: integer
        maxIdsCount:
          type: integer
        supportedQueryFormats:
          type: string
        supportedExportFormats:
          type: string
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
        fullExtent:
          $ref: '#/components/schemas/Extent'
        initialExtent:
          $ref: '#/components/schemas/Extent'
        layers:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              type:
                type: string
              geometryType:
                type: string
        tables:
          type: array
          items:
            type: object
    FieldInfo:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        alias:
          type: string
        sqlType:
          type: string
        length:
          type: integer
        nullable:
          type: boolean
        editable:
          type: boolean
    FeatureLayerInfo:
      type: object
      description: ArcGIS REST Feature Layer descriptor. Harvested verbatim in openapi/atco-electric-hosting-capacity-layer-0.esri.json.
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
        geometryType:
          type: string
        objectIdField:
          type: string
        displayField:
          type: string
        maxRecordCount:
          type: integer
        standardMaxRecordCount:
          type: integer
        standardMaxRecordCountNoGeometry:
          type: integer
        capabilities:
          type: string
        extent:
          $ref: '#/components/schemas/Extent'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInfo'
    Extent:
      type: object
      properties:
        xmin:
          type: number
        ymin:
          type: number
        xmax:
          type: number
        ymax:
          type: number
        spatialReference:
          $ref: '#/components/schemas/SpatialReference'
    SpatialReference:
      type: object
      properties:
        wkid:
          type: integer
        latestWkid:
          type: integer
  parameters:
    f:
      name: f
      in: query
      required: false
      description: Response format. The service advertises supportedQueryFormats "JSON, geoJSON, PBF"; `html` and `pjson` are also served by ArcGIS REST.
      schema:
        type: string
        enum:
        - json
        - geojson
        - pbf
        - pjson
        - html
        default: html
externalDocs:
  description: Esri ArcGIS REST API — Feature Service reference (the upstream contract this service implements)
  url: https://developers.arcgis.com/rest/services-reference/enterprise/feature-service/
